// user.scss
//
// Place your own custom CSS or SCSS rules below this line, these rules will override any Bootstrap and theme variables.

html {
  scroll-behavior: smooth;
}

p a {
  text-decoration: underline;
}

h2.lede {
  font-weight: 300;
}

.icon.icon-lg {
  height: 5rem !important;
}

.navbar-dark {
  border-bottom: none !important;
}
