<div class="navbar-container bg-primary">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary" data-sticky="top">
    <div class="container">
      <a class="navbar-brand fade-page" href="index.html">
        <img src="assets/img/logo-white.png" alt="Leap" height="30rem">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
        <img class="icon navbar-toggler-open" src="assets/img/icons/interface/menu.svg" alt="menu interface icon" data-inject-svg />
        <img class="icon navbar-toggler-close" src="assets/img/icons/interface/cross.svg" alt="cross interface icon" data-inject-svg />
      </button>
      <div class="collapse navbar-collapse justify-content-end">
        <a href="#register" class="btn btn-white ml-lg-3">Register Interest</a>
      </div>
    </div>
  </nav>
</div>
