<section>
  <div class="container">
    <div class="row justify-content-center text-center mb-6">
      <div class="col-xl-8 col-lg-9">
        <h2 class="display-4 mx-xl-6">A new way to handle mortgage applications.</h2>
        <p class="lead">
          Our platform ensures that you receive perfectly packaged applications – every time.
        </p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-6 col-lg-3 mb-4 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
        <img src="assets/img/icons/theme/communication/group-chat.svg" alt="Image" height="75rem" class="mb-4">
        <h5>Real-time broker feedback</h5>
        <p class="px-xl-4">Show brokers how they can improve their application while they're completing it it.</p>
        <!-- <a href="#" class="hover&#45;arrow">Learn More</a> -->
      </div>
      <div class="col-md-6 col-lg-3 mb-4 mb-lg-0" data-aos="fade-up" data-aos-delay="200">
        <!-- <img src="assets/img/saas&#45;sketch&#45;3.svg" alt="Image" class="mb&#45;4"> -->
        <img src="assets/img/icons/theme/code/git-3.svg" class="mb-4" height="75rem" alt="decoration">
        <h5>No-code policy updates</h5>
        <p class="px-xl-4">Policy changes are immediately reflected in your application form.</p>
        <!-- <a href="#" class="hover&#45;arrow">Learn More</a> -->
      </div>
      <div class="col-md-6 col-lg-3 mb-4 mb-lg-0" data-aos="fade-up" data-aos-delay="300">
        <img src="assets/img/icons/theme/communication/chat-check.svg" alt="Image" height="75rem" class="mb-4">
        <h5>Ensure policy compliance</h5>
        <p class="px-xl-4">Encourage brokers to fix applications that don't fall within policy.</p>
        <!-- <a href="#" class="hover&#45;arrow">Learn More</a> -->
      </div>
      <div class="col-md-6 col-lg-3 mb-4 mb-lg-0" data-aos="fade-up" data-aos-delay="400">
        <img src="assets/img/icons/theme/weather/suset-1.svg" alt="Image" height="75rem" class="mb-4">
        <h5>More to come</h5>
        <p class="px-xl-4">Automatic document processing and data extraction is on the roadmap.</p>
        <!-- <a href="#" class="hover&#45;arrow">Learn More</a> -->
      </div>
    </div>
  </div>
</section>
