<section class="bg-primary-3 text-light o-hidden"><a id="register"></a>
  <div class="container layer-1">
    <div class="row justify-content-center text-center mb-6">
      <div class="col-xl-8 col-lg-9">
        <h2 class="display-4 mx-xl-6">Register your interest</h2>
        <p class="lead">
          Get updates on Mast and be first to hear when we launch.
        </p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-xl-4 col-lg-5 col-md-6">
        <form action="/forms/mailchimp.php">
          <div class="form-group">
            <label for="service-name-1">Your Name</label>
            <input name="service-name" id="service-name-1" type="text" class="form-control form-control-lg" placeholder="Type your name">
          </div>
          <div class="form-group">
            <label for="service-email-1">Email Address</label>
            <input name="service-email" id="service-email-1" type="email" class="form-control form-control-lg" placeholder="you@yoursite.com">
          </div>
          <div class="form-group text-center">
            <button class="btn btn-lg btn-primary btn-block mb-2" type="submit">Register</button>
            <small class="text-muted">We'll only use your email to keep you updated about Mast.
            </small>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- <div data&#45;jarallax&#45;element="0 50"> -->
  <!--   <div class="decoration bottom left scale&#45;3"> -->
  <!--     <img class="bg&#45;primary&#45;2" src="assets/img/decorations/deco&#45;blob&#45;5.svg" alt="deco&#45;blob&#45;5 decoration" data&#45;inject&#45;svg /> -->
  <!--   </div> -->
  <!-- </div> -->
</section>
