<button type="button" class="@@class" data-toggle="modal" data-target="#subscribe-modal">@@text</button>

<div class="modal fade show" id="subscribe-modal" tabindex="-1" role="dialog" style="display: none; z-index: 10000" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="injected-svg icon bg-dark" data-src="assets/img/icons/interface/cross.svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <path d="M16.2426 6.34311L6.34309 16.2426C5.95257 16.6331 5.95257 17.2663 6.34309 17.6568C6.73362 18.0473 7.36678 18.0473 7.75731 17.6568L17.6568 7.75732C18.0473 7.36679 18.0473 6.73363 17.6568 6.34311C17.2663 5.95258 16.6331 5.95258 16.2426 6.34311Z" fill="#212529"></path>
            <path d="M17.6568 16.2426L7.75734 6.34309C7.36681 5.95257 6.73365 5.95257 6.34313 6.34309C5.9526 6.73362 5.9526 7.36678 6.34313 7.75731L16.2426 17.6568C16.6331 18.0473 17.2663 18.0473 17.6568 17.6568C18.0474 17.2663 18.0474 16.6331 17.6568 16.2426Z" fill="#212529"></path>
          </svg>
        </button>
        <div class="m-xl-4 m-3">
          <div class="text-center mb-4">
            <h4 class="h3 mb-1">Get in touch</h4>
            <p>Leave your details and a member of the Mast team will be in touch to organise a demo.</p>
          </div>
          <div class="pt-3 text-center" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1000">
            <form name="contact" method="POST" data-netlify="true">
              <div class="form-group">
                <div class="col-12">
                  <input name="email" type="email" class="form-control mb-1" required="" placeholder="Your email">
                </div>
                <div class="col-12">
                  <input name="name" type="text" class="form-control mb-1" required="" placeholder="First name">
                </div>
                <div class="col-12">
                  <input name="company" type="text" class="form-control mb-1" required="" placeholder="Company">
                </div>
                <div class="col-12">
                  <button type="submit" class="btn btn-primary btn-loading btn-block">
                    <span>Submit</span>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
