<footer class="pb-5 bg-primary-3 text-light">
  <div class="container">
    <div class="row mb-3 justify-content-center">
      <div class="col-auto">
        <a href="/index">
          <img src="assets/img/logo-white.png" alt="Mast logo" class="icon">
        </a>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col">
        <ul class="nav justify-content-center">
          <li class="nav-item"><a href="/cookies" class="nav-link">Cookie Policy</a>
          </li>
          <li class="nav-item"><a href="/privacy" class="nav-link">Privacy Policy</a>
          </li>
          <li class="nav-item"><a href="mailto:hello@usemast.com" target="_blank" class="nav-link">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row justify-content-center mt-5 mb-5">
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-xl-10">
        <small class="text-muted">©2020 Mast Technologies Ltd. All rights reserved. Registered address: Mast Technologies, 71-75 Shelton Street, London, WC2H 9JQ.</small>
      </div>
    </div>
  </div>
</footer>
<a href="#" class="btn back-to-top btn-primary btn-round" data-smooth-scroll data-aos="fade-up" data-aos-offset="2000" data-aos-mirror="true" data-aos-once="false">
  <img class="icon" src="assets/img/icons/theme/navigation/arrow-up.svg" alt="arrow-up icon" data-inject-svg />
</a>
