<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-168216702-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'UA-168216702-1');
  </script>
  <meta charset="utf-8">
  <title>Mast | Turbocharging mortgage lenders</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Mast is a cloud-native origination system that helps lenders process more mortgage applications in less time.">
  <link href="assets/css/loaders/loader-typing.css" rel="stylesheet" type="text/css" media="all" />
  <link href="assets/css/theme.css" rel="stylesheet" type="text/css" media="all" />
  <link rel="preload" as="font" href="assets/fonts/Inter-UI-upright.var.woff2" type="font/woff2" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://cdn.wpcc.io/lib/1.0.2/cookieconsent.min.css"/><script src="https://cdn.wpcc.io/lib/1.0.2/cookieconsent.min.js" defer></script><script>window.addEventListener("load", function(){window.wpcc.init({"border":"thin","corners":"small","colors":{"popup":{"background":"#606060","text":"#ffffff","border":"#f9f9f9"},"button":{"background":"#f9f9f9","text":"#000000"}},"position":"bottom","content":{"href":"/cookies","button":"OK","message":"Mast uses cookies to ensure you get the best browsing experience."}})});</script>
  <link rel="preload" as="font" href="assets/fonts/Inter-UI.var.woff2" type="font/woff2" crossorigin="anonymous">
</head>
