<div class="navbar-container">
  <nav class="navbar navbar-expand-lg navbar-transparent navbar-light bg-primary-alt" data-sticky="top">
    <div class="container">
      <a class="navbar-brand fade-page" href="/">
        <img src="assets/img/logo-dark.png" alt="Mast logo" height="30rem">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
        <img class="icon navbar-toggler-open" src="assets/img/icons/interface/menu.svg" alt="menu interface icon" data-inject-svg />
        <img class="icon navbar-toggler-close" src="assets/img/icons/interface/cross.svg" alt="cross interface icon" data-inject-svg />
      </button>
      <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
          <li class="nav-item dropdown text-dark">
            <a href="#" class="nav-item dropdown-toggle" data-toggle="dropdown-grid" aria-expanded="false" aria-haspopup="true">Products</a>
            <div class="dropdown-menu row" style="left: -828px;">
              <div class="col-auto" data-dropdown-content="" style="left: 828px;">
                <div class="dropdown-grid-menu">
                  <a href="/application-platform" class="dropdown-item fade-page">Application Platform</a>
                  <a href="/policy-engine" class="dropdown-item fade-page">Policy Engine</a>
                </div>
              </div>
            </div>
          </li>


          <li class="nav-item text-dark"><a href="/news">News</a></li>
          <li class="nav-item text-dark"><a href="/careers">Careers</a></li>
          <li class="nav-item text-dark"><a href="/about">About</a></li>
        </ul>
        @@include('./calendly.html', {class: 'btn btn-primary ml-lg-3 py-1', text: 'Get in touch'})
      </div>
    </div>
  </nav>
</div>
