<!-- Required vendor scripts (Do not remove) -->
<script type="text/javascript" src="assets/js/jquery.min.js"></script>
<script type="text/javascript" src="assets/js/popper.min.js"></script>
<script type="text/javascript" src="assets/js/bootstrap.js"></script>

<script type="text/javascript" src="assets/js/aos.js"></script>
<script type="text/javascript" src="assets/js/jarallax.min.js"></script>
<script type="text/javascript" src="assets/js/scrollMonitor.js"></script>
<script type="text/javascript" src="assets/js/smooth-scroll.polyfills.min.js"></script>
<script type="text/javascript" src="assets/js/svg-injector.umd.production.js"></script>
<script type="text/javascript" src="assets/js/theme.js"></script>
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
<!-- Calendly link widget end -->
<script type="text/javascript">
  window.addEventListener("load", function () {    document.querySelector('body').classList.add('loaded');  });
</script>

  <script>
    $( document ).ready( function() {
      $('#mc-embedded-subscribe-form').submit(function() {
        var checked = $("#mc-embedded-subscribe-form input:checked").length > 0;
        if (!checked) {
          $('#mc-checkbox-warning').show()
          return false;
        } else {
          $('#mc-checkbox-warning').hide()
        };
      });
    } )
  </script>
