<!-- Required vendor scripts (Do not remove) -->
<script type="text/javascript" src="assets/js/jquery.min.js"></script>
<script type="text/javascript" src="assets/js/popper.min.js"></script>
<script type="text/javascript" src="assets/js/bootstrap.js"></script>

<script type="text/javascript" src="assets/js/aos.js"></script>
<script type="text/javascript" src="assets/js/jarallax.min.js"></script>
<script type="text/javascript" src="assets/js/scrollMonitor.js"></script>
<script type="text/javascript" src="assets/js/smooth-scroll.polyfills.min.js"></script>
<script type="text/javascript" src="assets/js/svg-injector.umd.production.js"></script>
<script type="text/javascript" src="assets/js/theme.js"></script>
<script type="text/javascript">
  window.addEventListener("load", function () {    document.querySelector('body').classList.add('loaded');  });
</script>
